In [2]:
import os
import glob
import pandas as pd
os.chdir("citi_summer_data_2018")

In [3]:
extension2 = 'csv'
all_filenames2 = [i for i in glob.glob('*.{}'.format(extension2))]

In [4]:
all_filenames2

['201805-citibike-tripdata.csv',
 '201807-citibike-tripdata.csv',
 '201806-citibike-tripdata.csv']

In [5]:
combined_csv2 = pd.concat([pd.read_csv(f) for f in all_filenames2 ])

combined_csv2.to_csv( "combined_city_2018.csv", index=False, encoding='utf-8-sig')

In [6]:
combined_csv2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,367,2018-05-01 05:06:16.5840,2018-05-01 05:12:23.9650,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,30567,Subscriber,1965,1
1,1313,2018-05-01 06:25:49.4250,2018-05-01 06:47:42.7120,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,18965,Subscriber,1956,1
2,1798,2018-05-01 06:40:26.4450,2018-05-01 07:10:25.1790,72,W 52 St & 11 Ave,40.767272,-73.993929,3435,Grand St & Elizabeth St,40.718822,-73.995960,30241,Subscriber,1959,2
3,518,2018-05-01 07:06:02.9730,2018-05-01 07:14:41.0040,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,28985,Subscriber,1986,1
4,109,2018-05-01 07:26:32.3450,2018-05-01 07:28:21.5420,72,W 52 St & 11 Ave,40.767272,-73.993929,530,11 Ave & W 59 St,40.771522,-73.990541,14556,Subscriber,1991,1

In [7]:
df_2018 = combined_csv2.drop(columns=['stoptime', 'start station id', 'end station id', 'end station name', 'end station latitude', 'end station longitude', 'bikeid'])

In [8]:
df_2018.head()

,tripduration,starttime,start station name,start station latitude,start station longitude,usertype,birth year,gender
0,367,2018-05-01 05:06:16.5840,W 52 St & 11 Ave,40.767272,-73.993929,Subscriber,1965,1
1,1313,2018-05-01 06:25:49.4250,W 52 St & 11 Ave,40.767272,-73.993929,Subscriber,1956,1
2,1798,2018-05-01 06:40:26.4450,W 52 St & 11 Ave,40.767272,-73.993929,Subscriber,1959,2
3,518,2018-05-01 07:06:02.9730,W 52 St & 11 Ave,40.767272,-73.993929,Subscriber,1986,1
4,109,2018-05-01 07:26:32.3450,W 52 St & 11 Ave,40.767272,-73.993929,Subscriber,1991,1

In [9]:
df_2018.to_csv( "df_city_2018.csv", index=False, encoding='utf-8-sig')